/* body {
} */

#services-offered > div {
    margin: 1rem;
}

#services-offered {
    gap: 1rem;

}

dt, dd {
    background-color: var(--light-brown);
    padding: 1rem;
    border: 2px solid var(--brown);
    box-shadow: 1px 1px 5px 2px var(--brown);
}

